<%- include("partials/header"); -%>
 </head>
<body>

        <section id="hero-section">
            <div class="hero-container">
                <h1>A Journey Through Crochet Creations</h1>
               
                
            </div>
        </section>
        <section id="post-container">
            <%- include('featuredpost.ejs') %>
            <div class="post-text">
                <%posts.forEach((post)=>{ %>
                    <h3><%=(post.title)%></h3>
                   <p>
                    <%=post.content.substring(0, 100) + " ..."%>
                    <a href="/posts/<%=post.title%>">
                        Read More</a>
                </p> 
                <%})%>

            </div>
            
        </section>        


</body>
<%- include("partials/footer"); -%>
